/*      Fonts       */

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-HeavyDEMO.woff');
}

body{
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
}

main{
    padding-top: 100px;
}

.rect{
    width: 32px;
    height: 26px;
    display: inline-block;
    background: #000000;
}

.logo{
    padding: 37px 0;
}

.header-block, main, footer{
    max-width: 1440px;
    margin: 0 auto;
}

.header-block{
    display: flex;
    padding: 0 150px;
    position: relative;
}


.menu-block, .logo-container{
    width: 50%;
    height: 100px;
    background: #ffffff;
}
.logo-container span{
    font-family: Mont, serif;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
}

.banner{
    height: 924px;
    width: 100%;
    background: url('images/Img-banner.jpg') no-repeat center center;
    background-size: cover;
}

a {
    text-decoration: none;
}
.container {
    position: absolute;
    right: 0;
    width: 50%;
    overflow: visible;
    padding-right: 150px;
}

.open-close{
    display: flex;
    justify-content: flex-end;

}

img.open{
    width: 43px;
    height: 43px;
    margin-top: 28px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

img.open.active{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 1.5s linear;
}

img.close{
    width: 43px;
    height: 43px;
    visibility: hidden;
    cursor: pointer;
    margin-right: -43px;
    margin-top: 28px;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

img.active.close{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

nav{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    float: right;
    width: 365px;
}

nav.active{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
}

nav a{
    display: block;
    height: 160px;
    background: #FFF824;
    margin-bottom: 12px;
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 160px;
}

nav a:first-child{
    margin-top: 38px;
}